{% extends "base.html" %}
{% load static %}
{% block body %}
    <style>
        #prob{
            padding: 50px;
        }
        .centered {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        #cent{
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;
        }


    </style>
    <div class="container">
        <img src="{% static "img/bg1.jpg" %}" class="img-fluid" alt="...">
    </div>
    <hr noshade size="5">
    <div class="row">
        <div class="col-sm-9"><h1 align="left">Рейтинг богатейших людей этой планеты</h1></div>
    <div class="col-sm-1">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group-vertical" role="group" aria-label="Basic example">
                <a href="/france"><button type="button" class="btn btn-secondary" style="width: 98%; height: 96%">Франция</button></a>
  <a href="/mexico"><button type="button" class="btn btn-secondary" style="height: 96%">Мексика</button></a>
            </div>
            <div class="btn-group-vertical" role="group" aria-label="Basic example">
  <a href="/usa"><button href="usa/" type="button"  class="btn btn-secondary" style="height: 96%">США</button></a>
            <a href="/spain"><button type="button" class="btn btn-secondary" style="height: 96%">Испания</button></a>
</div>
            <a href="/"><button style="height: 50%;" type="button" class="btn btn-info">сброс</button></a>

    </div>
    </div>
    <hr noshade size="5">
    {% for person in people %}
        <div class="container" >
            <div class="row" style="height: auto">
                <div class="col-sm-4">
                    <div class="card">
                        <a href="persons/{{ person.slug }}"><img src="{{ MEDIA_URL }}{{ person.img.url }}" class="card-img-top"></a>
                        <div class="card-body">
                            <h5 class="card-title">{{ person.num }}. {{person.name}}, {{ person.age }}</h5>
                            <p class="card-text">{{ person.desc }}</p>
                            <a href="http://127.0.0.1:8000/persons/{{ person.slug }}" class="btn btn-primary bg-success">Подробнее...</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div id="prob">
                        <p>{{ person.wealth }}% от состояния Путина(~200млрд$)</p>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{ person.wealth }}%;" aria-valuenow="{{ person.fortune }}" aria-valuemin="0" aria-valuemax="200000000000">{{ person.fortune }}$</div>
                        </div>
                        {% block price %}{% endblock %}
                    </div>

                </div>

            </div>
        </div>
    {% endfor %}
{% endblock %}